USE [master]
GO
/****** Object:  Database [D&D Soluciones Automotrices Db]    Script Date: 4/8/2020 8:33:32 PM ******/
CREATE DATABASE [D&D Soluciones Automotrices Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'D&D Soluciones Automotrices Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\D&D Soluciones Automotrices Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'D&D Soluciones Automotrices Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\D&D Soluciones Automotrices Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D&D Soluciones Automotrices Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D&D Soluciones Automotrices Db]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClientesId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Direccion] [varchar](250) NULL,
	[Telefono] [varchar](10) NULL,
	[Celular] [varchar](10) NULL,
	[Edad] [char](3) NULL,
	[Email] [varchar](50) NULL,
	[Sexo] [char](1) NULL,
	[Provincia] [varchar](50) NULL,
	[Sector] [varchar](50) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClientesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fabricacion]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabricacion](
	[FabricacionId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Fabricacion] PRIMARY KEY CLUSTERED 
(
	[FabricacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimientos]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[MantenimientoId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Tiempo_Estimado] [time](7) NULL,
	[Precio] [money] NULL,
 CONSTRAINT [PK_Mantenimiento] PRIMARY KEY CLUSTERED 
(
	[MantenimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MantenimientosaRealizar]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientosaRealizar](
	[Mantenimientos_a_RealizarId] [int] NOT NULL,
	[ClientId] [int] NULL,
	[MantenimientoId] [int] NULL,
	[MarcaId] [int] NULL,
	[ModeloId] [int] NULL,
	[Año] [varchar](4) NULL,
	[Color] [varchar](50) NULL,
	[Chasis] [varchar](50) NULL,
	[FabricacionId] [int] NULL,
	[Placa] [char](7) NULL,
 CONSTRAINT [PK_Mantenimientos a Realizar] PRIMARY KEY CLUSTERED 
(
	[Mantenimientos_a_RealizarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Marcass] PRIMARY KEY CLUSTERED 
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[ModelosId] [int] NOT NULL,
	[Modelos_HondaId] [int] NULL,
	[Modelos_NissanId] [int] NULL,
	[Modelos_ToyotaId] [int] NULL,
 CONSTRAINT [PK_Modelos] PRIMARY KEY CLUSTERED 
(
	[ModelosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos Honda]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos Honda](
	[Modelo_HondaId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Modelo Honda] PRIMARY KEY CLUSTERED 
(
	[Modelo_HondaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos Nissan]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos Nissan](
	[Modelo_NissanId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Modelo Nissan] PRIMARY KEY CLUSTERED 
(
	[Modelo_NissanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos Toyota]    Script Date: 4/8/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos Toyota](
	[Modelo_ToyotaId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Modelo Toyota] PRIMARY KEY CLUSTERED 
(
	[Modelo_ToyotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([ClientesId], [Nombre], [Apellido], [Direccion], [Telefono], [Celular], [Edad], [Email], [Sexo], [Provincia], [Sector]) VALUES (1, N'Amado 
', N'Cruz
', N'C/ Federico Bermudez #15
', N'8094281320', N'8296327698', N'21 ', N'AmadoCruz@gmail.com
', N'H', N'Santo Domingo
', N'La Puya
')
INSERT [dbo].[Clientes] ([ClientesId], [Nombre], [Apellido], [Direccion], [Telefono], [Celular], [Edad], [Email], [Sexo], [Provincia], [Sector]) VALUES (2, N'Alfredo
', N'Suarez
', N'C/ 4 Edf.5 Apt.2-b
', N'8096278900', N'8294623120', N'30 ', N'AlfredoSuarez@gmail.com
', N'H', N'La Vega
', N'Las Caobas
')
INSERT [dbo].[Clientes] ([ClientesId], [Nombre], [Apellido], [Direccion], [Telefono], [Celular], [Edad], [Email], [Sexo], [Provincia], [Sector]) VALUES (3, N'Benis
', N'Jimenez
', N'Manuel Ubaldo Gomez #115
', N'8095679562', N'8096452325', N'52 ', N'BenisJimenez@gmail.com
', N'M', N'Santo Domingo
', N'Mirador Norte
')
INSERT [dbo].[Fabricacion] ([FabricacionId], [Nombre]) VALUES (1, N'Americana
')
INSERT [dbo].[Fabricacion] ([FabricacionId], [Nombre]) VALUES (2, N'Brasileña
')
INSERT [dbo].[Fabricacion] ([FabricacionId], [Nombre]) VALUES (3, N'Canadiense
')
INSERT [dbo].[Mantenimientos] ([MantenimientoId], [Nombre], [Tiempo_Estimado], [Precio]) VALUES (1, N'Motor
', CAST(N'06:00:00' AS Time), 1500.0000)
INSERT [dbo].[Mantenimientos] ([MantenimientoId], [Nombre], [Tiempo_Estimado], [Precio]) VALUES (2, N'Neumaticos
', CAST(N'02:00:00' AS Time), 500.0000)
INSERT [dbo].[Mantenimientos] ([MantenimientoId], [Nombre], [Tiempo_Estimado], [Precio]) VALUES (3, N'Sistema de Combustible
', CAST(N'02:00:00' AS Time), 1000.0000)
INSERT [dbo].[MantenimientosaRealizar] ([Mantenimientos_a_RealizarId], [ClientId], [MantenimientoId], [MarcaId], [ModeloId], [Año], [Color], [Chasis], [FabricacionId], [Placa]) VALUES (1, 1, 9, 10, 3, N'2001', N'AZUL', N'J625A516D211ASD21125
', 1, N'A523649')
INSERT [dbo].[MantenimientosaRealizar] ([Mantenimientos_a_RealizarId], [ClientId], [MantenimientoId], [MarcaId], [ModeloId], [Año], [Color], [Chasis], [FabricacionId], [Placa]) VALUES (2, 2, 10, 17, 2, N'2003', N'VERDE', N'K625A516D211ASD21126
', 2, N'G254369')
INSERT [dbo].[MantenimientosaRealizar] ([Mantenimientos_a_RealizarId], [ClientId], [MantenimientoId], [MarcaId], [ModeloId], [Año], [Color], [Chasis], [FabricacionId], [Placa]) VALUES (3, 3, 1, 16, 3, N'2012', N'DORADO', N'P625A516D211ASD21127
', 3, N'L562649')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre]) VALUES (1, N'AUDI')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre]) VALUES (2, N'ACURA')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre]) VALUES (3, N'BMW')
INSERT [dbo].[Modelos] ([ModelosId], [Modelos_HondaId], [Modelos_NissanId], [Modelos_ToyotaId]) VALUES (1, 1, 1, 15)
INSERT [dbo].[Modelos] ([ModelosId], [Modelos_HondaId], [Modelos_NissanId], [Modelos_ToyotaId]) VALUES (2, 2, 2, 2)
INSERT [dbo].[Modelos] ([ModelosId], [Modelos_HondaId], [Modelos_NissanId], [Modelos_ToyotaId]) VALUES (3, 3, 3, 8)
INSERT [dbo].[Modelos Honda] ([Modelo_HondaId], [Nombre]) VALUES (1, N'ACCORD
')
INSERT [dbo].[Modelos Honda] ([Modelo_HondaId], [Nombre]) VALUES (2, N'CAPA
')
INSERT [dbo].[Modelos Honda] ([Modelo_HondaId], [Nombre]) VALUES (3, N'CIVIC
')
INSERT [dbo].[Modelos Nissan] ([Modelo_NissanId], [Nombre]) VALUES (1, N'ALMERA
')
INSERT [dbo].[Modelos Nissan] ([Modelo_NissanId], [Nombre]) VALUES (2, N'ALTIMA
')
INSERT [dbo].[Modelos Nissan] ([Modelo_NissanId], [Nombre]) VALUES (3, N'CUBE
')
INSERT [dbo].[Modelos Toyota] ([Modelo_ToyotaId], [Nombre]) VALUES (1, N'4RUNNER
')
INSERT [dbo].[Modelos Toyota] ([Modelo_ToyotaId], [Nombre]) VALUES (2, N'AYGA
')
INSERT [dbo].[Modelos Toyota] ([Modelo_ToyotaId], [Nombre]) VALUES (3, N'CAMRY
')
ALTER TABLE [dbo].[MantenimientosaRealizar]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos a Realizar_Clientes1] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clientes] ([ClientesId])
GO
ALTER TABLE [dbo].[MantenimientosaRealizar] CHECK CONSTRAINT [FK_Mantenimientos a Realizar_Clientes1]
GO
ALTER TABLE [dbo].[MantenimientosaRealizar]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos a Realizar_Fabricacion] FOREIGN KEY([FabricacionId])
REFERENCES [dbo].[Fabricacion] ([FabricacionId])
GO
ALTER TABLE [dbo].[MantenimientosaRealizar] CHECK CONSTRAINT [FK_Mantenimientos a Realizar_Fabricacion]
GO
ALTER TABLE [dbo].[MantenimientosaRealizar]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos a Realizar_Mantenimientos] FOREIGN KEY([MantenimientoId])
REFERENCES [dbo].[Mantenimientos] ([MantenimientoId])
GO
ALTER TABLE [dbo].[MantenimientosaRealizar] CHECK CONSTRAINT [FK_Mantenimientos a Realizar_Mantenimientos]
GO
ALTER TABLE [dbo].[MantenimientosaRealizar]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos a Realizar_Marcas] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([MarcaId])
GO
ALTER TABLE [dbo].[MantenimientosaRealizar] CHECK CONSTRAINT [FK_Mantenimientos a Realizar_Marcas]
GO
ALTER TABLE [dbo].[MantenimientosaRealizar]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos a Realizar_Modelos] FOREIGN KEY([ModeloId])
REFERENCES [dbo].[Modelos] ([ModelosId])
GO
ALTER TABLE [dbo].[MantenimientosaRealizar] CHECK CONSTRAINT [FK_Mantenimientos a Realizar_Modelos]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Modelos Honda] FOREIGN KEY([Modelos_HondaId])
REFERENCES [dbo].[Modelos Honda] ([Modelo_HondaId])
GO
ALTER TABLE [dbo].[Modelos] CHECK CONSTRAINT [FK_Modelos_Modelos Honda]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Modelos Nissan] FOREIGN KEY([Modelos_NissanId])
REFERENCES [dbo].[Modelos Nissan] ([Modelo_NissanId])
GO
ALTER TABLE [dbo].[Modelos] CHECK CONSTRAINT [FK_Modelos_Modelos Nissan]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Modelos Toyota] FOREIGN KEY([Modelos_ToyotaId])
REFERENCES [dbo].[Modelos Toyota] ([Modelo_ToyotaId])
GO
ALTER TABLE [dbo].[Modelos] CHECK CONSTRAINT [FK_Modelos_Modelos Toyota]
GO
USE [master]
GO
